* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    display: flex;
    gap: 60px;
    padding-top: 176px;
    background-color: #FFF8E6;
    height: 100vh;
    justify-content: center;
}


.main img {
    border: 25px solid #F7EDE1;
    border-radius: 16px;
}


.texts {
    width: 500px;
    gap: 30px;
}


.btns {
    display: flex;
    gap: 16px;
    margin-top: 50px;
}


.btns button {
    width: 131px;
    height: 48px;
    text-align: center;
    border: 0px;
    border-radius: 60px;
    background-color: #F2F4F7;
}