* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 50px;
}


.box {
    width: 550px;
    height: 285px;
    background-color: white;
    border-radius: 12px;
    padding-top: 43px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.box-texts {
    width: 240px;
}


.box-texts h1 {
    font-size: 20px;
    font-weight: 600;
}


.box-texts p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}


.box img {
    width: 233px;
    height: 219px;
    border-radius: 12px;
    margin-top: -11px;
}